<div class="container">
  <h3>Type in the name of your new category!</h3>
  <form method="post" action="/new/category">
    <input type="text" placeholder="category name" name="category[name]"><br>
    <input type="submit" value="Click this!">
  </form>
</div>
